*{
    font-family: sans-serif;
}
body{
    background-color: #f1d1b5;
}
main {
    min-height: 100vh;
}

.coin{
    max-width: 20px;
    margin-right: 5px;
}

.right{
    float:right;
}
.left{
    float:left;
}

.border{
    outline-style: solid 1px;
    color:grey;
    border-radius: 3px;
}
.center{
    align-items: center;
}

footer{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    color: white;
    text-align: center;
}

.logo{
    height: 48px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

.messageText{
    width: fit-content;
}